<%- include('../partials/header.ejs') %>

<h1>BIG BOARD LIST</h1>
    <% if (boards.length > 0) { %>
     <ul>
       <% boards.forEach(board => { %>
         <li>
           <a href="/boards/<%= board._id %>"><%= board.title %></a>
         </li>
       <% }) %>
     </ul>
   <% } else { %>
     <p>You have not created a Big Board yet...</p>
   <% } %>
   <a href="/boards/new">Add New Big Board</a>





<%- include('../partials/footer.ejs') %>